body {
	width:100%;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}


h5 {
	margin-top: 0;
	color:white;
}
h5:hover { 
	color: blue;
}

#outofstock {
	top:20%;
	width:100%;
	height:200px;
	background-color: red;
	font:white;

}

#stocktext {
	position:absolute;
	top:20%;
	width:70%;
	height:200px;
	left:20%;
	

}

#stocktext h5 {
	position:absolute;
	top:20%;
	width:60%;
	height:200px;
	left:30%;
	

}





#header {
	width:100%;
	z-index: 1;
	margin-left:0px;
	margin-top:0px;

}

#ordernowbutton {
	position: absolute;
	width: 15%;
	height:50px;
	background-color: red;
	z-index: 2;
	top: 20px;
	right:10px;
	text-align: center;
}

#ordernowbutton2 {
	position: absolute;
	width: 15%;
	height:50px;
	background-color: red;
	z-index: 2;

	right:10px;
	text-align: center;
}

#yourorder {
	letter-spacing:5px;
	padding-left: 3%;
	z-index: 2;
}

#topbar {
	width: 100%;
	height:5px;
	background-color:black;
}

/*.specials {
	width:100%;
	margin-left:35px;
	position:relative;
}

.menu {
	width:100%;
	margin-left:35px;
	position:relative;

}

#food1 {
	float:left;

	}*/

/* Text
-------------------------------------------------- */
.ordernow{
	position: relative;
	height: 100%;
	top: 35%;
}
.specials {
	text-align: center;
	z-index: 2;
	height:20%;
}


/*
#specialstext3{
	position:absolute;
	text-align: left;
	z-index: 1;
	width: 20%;
	margin-left: 72%;
	margin-bottom: 20px;


}


#specialstext2{
	position:absolute;
	text-align: left;
	z-index: 1;
	width: 20%;
	margin-left: 40%;
	margin-bottom: 20px;


}


#specialstext {
	text-align: left;
	z-index: 2;
	width: 20%;
	margin-left: 9%



}*/




.menu {
	width: 70%;
	margin: 0 auto;
	padding-top:100px;
}
.list {
	position: relative;
	width: 100%;
	float: left;
}

.list2 {
	position: relative;
	width: 100%;
	float: left;
	-ms-transform: scale(.5,.5); 
    -webkit-transform: scale(.5,.5); 
    transform: scale(.5,.5);

}
.menutext{
	padding-bottom: 15px;
	padding-left: 15px;
	height: 441px;
	position: relative;
	float:left;
	width: 50%;
	font-size: 24px;
}


/* Image
-------------------------------------------------- */

#sadcow {
	position: absolute;
	left:-20px;
	top:70px;

	-ms-transform: scale(.5,.5); 
    -webkit-transform: scale(.5,.5); 
    transform: scale(.5,.5);

}


#bullblack {
	position: absolute;
	width:100%;
	margin-left: 40%;
	top:-15.5%;
	z-index: 1;
	-ms-transform: scale(.25,.25); 
    -webkit-transform: scale(.25,.25); 
    transform: scale(.25,.25);
}

.left {
	float:left;
}

.right {
	float:right;
}

.center{
	margin:0 auto;
}



#special1 {
	display: flex;
  justify-content: center;
}

.specialimg {
	width: 30%;
	margin: 0 7.5px 0 7.5px;
}

.specialimg img {
	width: 100%;
}
.menuimg {
	padding-bottom: 15px;
	position: relative;
	float:left;
	width: 45%;
}

.footer {
	width:100%;
	height:640px;
	background-color: black;
	position:relative;
	float:left;


}

#socialicons {
	
}

#socialicons img{
	
	margin-top: 10px;
	margin-left: 50px;
}


#appstoreicons {
	margin-top: 15%;
	margin-left: 5%;
}

.footer h4{
	color: white;
	margin-top: 50px;
	margin-left: 50px;
	z-index:2;

}

#infobox1 {
	height:268px;
	width:380px;
	float: right;
	line-height: 40px;

}

#infobox1 h4{
	color: white;
	

}


#infobox2 {
	height:268px;
	width:380px;
	float: right;
	line-height: 40px;

}

#infobox2 h4{
	color: white;
	

}

#copyright {
	height:268px;
	width:380px;
	float: right;
	line-height: 20px;

}

#copyright h5{
	color: white;
	

}

.bigbull {
	float:right;
	position:fixed;
	margin-left:73%;
	z-index:-10;

}

.bigbull img{
	margin-top: 10px;
	margin-left: 50px;
}



#aboutlink {
	position:absolute;
	width: 5%;
	height:50px;
	background-color: black;
	z-index: 2;
	top: 38px;
	right:10px;
	text-align: center;
	margin-right:230px;
	color: yellow;

}

#homelink {
	position:absolute;
	width: 5%;
	height:30px;
	background-color: red;
	z-index: 2;
	top: 38px;
	right:10px;
	text-align: center;
	margin-right:30px;
	color: yellow;



}



#about{
	width:20%;
	top:100px;
	z-index: 2;
	position:absolute;
	margin-left: 5%;


}

#bullgrazing{
	position:absolute;
}







/*
.top{
	z-index:1;
}

*/

/* iPad 
-------------------------------------------------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

	.menutext{
		height: 334px;
	}
}
*/
@media screen and (max-width: 768px) {


	.menu {
		width: 90%;
		margin: 0 auto;
		padding-top:100px;
	}
	.list {
		width:90%;
	}

	.menuimg {
		width:100%;

	}
	.menutext {
		width: 90%;
	}

	#appstoreicons{
	width: 90%;
	margin: 7.5px;
	}
/*
	#specialstext{
		top: 40%;
		font-size: .25em;
	}*/


	h5:hover { 
		color: yellow;
	}

	.menutext{
		height: auto;
	}


#ordernowbutton {
	position: absolute;
	width: 15%;
	height:50px;
	background-color: red;
	z-index: 2;
	top: 20px;
	right:10px;
	text-align: center;
}



	.specialimg {
	width: 90%;
	margin: 7.5px;
}
}

	/* Text
	-------------------------------------------------- 
	.menutext{
		height: 242px;
	}
	.ordernow {
		top: 40%;
		font-size: .25em;
	}

	#aboutlink {
		top: 40%;
		font-size: .25em;
		color:white;
	}

	#specialstext{
		top: 40%;
		font-size: .25em;
	}
	

	h5:hover { 
		color: yellow;
	}
	}*/

/*

@media screen and (max-width: 360px) {*/

	
/* Image
-------------------------------------------------- */
